<!-- <div>
    <app-filter/>
    <button (click)="getLocation()" class="btn-primary">Mostrar mi ubicación</button>
    <div id="map" style="height: calc(100vh - 150px); width: 100%;"></div>
</div> -->

<div class="position-relative w-100 h-100">
  <!-- Botón flotante -->
  <button class="btn btn-primary position-absolute top-0 start-0 m-3 z-3"  (click)="toggleFiltro()">
    Filtros
  </button>

  <!-- Componente Filtro superpuesto -->
  <div [hidden]="!mostrarFiltro" class="position-absolute top-0 start-0 m-3 z-2 bg-white p-3 rounded shadow">
    <app-filter (rutaSeleccionada)="addRuta($event)"></app-filter>
  </div>

  <!-- Mapa -->
  <div id="map" class="position-absolute top-0 start-0 w-100" style="height: calc(100vh - 150px); z-index: 1;"></div>
</div>