<!-- app-filter.component.html -->
<div class="container">
    <!-- Sección Inicio -->
<!-- Sección Inicio -->
<div class="container mb-4 mt-4">
  <h5 class="text-dark">Inicio</h5>
  <div>
    <button (click)="useMyLocation()">Ubicacion</button>
  </div>
  <div class="row gy-3">
    <!-- COMUNA -->
    <div class="col-12 col-md-4">
      <label for="comunaInicio" class="form-label text-dark">Filtrar por:</label>
      <!-- Combo de Comunas -->
      <select class="form-select form-select-sm" [(ngModel)]="comunaSeleccionadaInicio" (change)="onComunaSeleccionadaInicio()">
        <option value="" selected >Seleccione una opción</option>
        <option *ngFor="let comuna of comunas" [value]="comuna">
          {{ comuna === 0 ? 'CORREGIMIENTO' : (comuna === -1 ? 'CLL - AV - CRA' : 'COMUNA ' + comuna) }}
        </option>
      </select>
    </div>

    <!-- BARRIO -->
    <div class="col-12 col-md-8">
      <label for="barrioInicio" class="form-label text-dark">Ubicaciones disponibles</label>
      <!-- ng-select para seleccionar barrio -->
      <ng-select
        class="form-select form-select-sm bg-dark text-light  ng-select-dark "
        [items]="barriosFiltradosInicio"
        placeholder="Seleccione un barrio"
        [(ngModel)]="barrioSeleccionadoInicio"
        (change)="onBarrioSeleccionadoInicio()"
        [searchable]="true">
      </ng-select>
    </div>
  </div>
</div>

<!-- Sección Destino -->
<div class="container mb-4">
  <h5 class="text-dark">Destino</h5>
  <div class="row gy-3">
    <!-- COMUNA -->
    <div class="col-12 col-md-4">
      <label for="comunaDestino" class="form-label text-dark">Filtrar por:</label>
      <select id="comunaDestino" class="form-select form-select-sm" [(ngModel)]="comunaSeleccionadaDestino" (change)="onComunaSeleccionadaDestino()" >
        <option value="" selected>Seleccione una opción</option>
        <option *ngFor="let comuna of comunas" [value]="comuna">
          {{ comuna === 0 ? 'CORREGIMIENTO' : (comuna === -1 ? 'CLL - AV - CRA' : 'COMUNA ' + comuna) }}
        </option>
      </select>
    </div>

    <!-- BARRIO -->
    <div class="col-12 col-md-8">
      <label for="barrioDestino" class="form-label text-dark">Ubicaciones disponibles</label>
      <!-- Barrio de Destino -->
      <ng-select
        class="form-select form-select-sm bg-dark text-light  ng-select-dark "
        [items]="barriosFiltradosDestino"
        placeholder="Seleccione un barrio"
        [(ngModel)]="barrioSeleccionadoDestino"
        (change)="onBarrioSeleccionadoDestino()"
        [searchable]="true">
      </ng-select>
    </div>
  </div>
</div>
  
  <!-- Sección Rutas -->
<div class="container mb-4">
  <h5 class="text-dark">Rutas</h5>

  <div class="row gy-2">
    <!-- Selector de rutas -->
    <div class="col-12">
      <h6 class="mb-1 text-dark">Ruta disponible</h6>
      <ng-select
        [items]="rutas"
        bindLabel="nombre"
        bindValue="archivo"
        [(ngModel)]="rutaSeleccionadaArchivo"
        (change)="onSeleccionRuta($event)"
        [disabled]="deshabilitarRutas"
        placeholder="Seleccione una ruta"
        [clearable]="true"
        [searchable]="true"
        class="form-select form-select-sm bg-dark text-light  ng-select-dark ">
      </ng-select>
    </div>

    <!-- Descripción -->
    <div class="col-12">
      <h6 class="mb-1 text-dark">Descripción</h6>
      <textarea class="form-control form-control-sm" rows="4" [value]="description" disabled></textarea>
    </div>

    <!-- Botón limpiar -->
    <div class="col-12">
      <button class="btn btn-outline-primary btn-sm mt-2" (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>
  </div>
</div>
