<!-- app-filter.component.html -->
<div class="container">
    <!-- Sección Inicio -->
    <div class="mb-3 mt-5">
      <button class="btn btn-outline-success btn-sm mb-2" (click)="useMyLocation()">
        Mi ubicación
      </button>
      <h5 class="text-dark">Inicio</h5>
      <div class="d-flex align-items-center gap-2">
        <!-- COMUNA -->
        <h6>Comuna</h6>
        <select  class="form-select" [(ngModel)]="comunaSeleccionadaInicio" (change)="onComunaSeleccionadaInicio()">
          <option disabled selected>Seleccione una comuna</option>
          <option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</option>
        </select>

        <!-- BARRIO -->
        <h6>Barrio</h6>
          <select  class="form-select" [(ngModel)]="barrioSeleccionadoInicio">
            <option disabled selected>Seleccione un barrio</option>
            <option *ngFor="let barrio of barriosFiltradosInicio" [value]="barrio">{{ barrio }}</option>
          </select>
      </div>
    </div>
  
    <!-- Sección Destino -->
    <div class="mb-3">
      <h5 class="text-dark">Destino</h5>
      <div class="d-flex align-items-center gap-2">
        <!-- COMUNA -->
        <h6>Comuna</h6>
        <select  class="form-select" [(ngModel)]="comunaSeleccionadaDestino" (change)="onComunaSeleccionadaDestino()">
          <option disabled selected>Seleccione una comuna</option>
          <option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</option>
        </select>

        <!-- BARRIO -->
        <h6>Barrio</h6>
        <select  class="form-select" [(ngModel)]="barrioSeleccionadoDestino">
          <option disabled selected>Seleccione un barrio</option>
          <option *ngFor="let barrio of barriosFiltradosDestino" [value]="barrio">{{ barrio }}</option>
        </select>
      </div>
    </div>
  
    <!-- Sección Rutas -->
    <div>
      <h5 class="text-dark" >Rutas</h5>
      <select  class="form-select form-select-sm" [(ngModel)]="rutaSeleccionadaArchivo" (change)="onSeleccionRuta($event)" [disabled]="deshabilitarRutas">
        <option selected disabled>Seleccione una ruta</option>
        <option *ngFor="let ruta of rutas">{{ ruta.nombre }}</option>
      </select>
    </div>
    <h5 class="text-dark">Descripción</h5>
    <textarea class="form-control" rows="4" [value]="description" disabled></textarea>
    <button class="btn btn-outline-primary btn-sm mb-2 mt-2" (click)="limpiarFiltros()">Limpiar filtros</button>
  </div>
