<!-- app-filter.component.html -->
<div class="container">
    <!-- Sección Inicio -->
<!-- Sección Inicio -->
<div class="container mb-4 mt-4">
  <h5 class="text-dark">Inicio</h5>
  <div class="row gy-3">
    <!-- COMUNA -->
    <div class="col-12 col-md-4">
      <label for="comunaInicio" class="form-label text-dark">Comuna</label>
      <select id="comunaInicio" class="form-select form-select-sm" [(ngModel)]="comunaSeleccionadaInicio" (change)="onComunaSeleccionadaInicio()">
        <option disabled selected>Seleccione una comuna</option>
        <option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</option>
      </select>
    </div>

    <!-- BARRIO -->
    <div class="col-12 col-md-8">
      <label for="barrioInicio" class="form-label text-dark">Barrio</label>
      <!-- Barrio de Inicio -->
      <select class="form-select form-select-sm"
      [(ngModel)]="barrioSeleccionadoInicio"
      (change)="verificarSeleccion()">
      <option disabled selected>Seleccione un barrio</option>
      <option *ngFor="let barrio of barriosFiltradosInicio" [value]="barrio">{{ barrio | uppercase }}</option>
      </select>
    </div>
  </div>
</div>

<!-- Sección Destino -->
<div class="container mb-4">
  <h5 class="text-dark">Destino</h5>
  <div class="row gy-3">
    <!-- COMUNA -->
    <div class="col-12 col-md-4">
      <label for="comunaDestino" class="form-label text-dark">Comuna</label>
      <select id="comunaDestino" class="form-select form-select-sm" [(ngModel)]="comunaSeleccionadaDestino" (change)="onComunaSeleccionadaDestino()">
        <option disabled selected>Seleccione una comuna</option>
        <option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</option>
      </select>
    </div>

    <!-- BARRIO -->
    <div class="col-12 col-md-8">
      <label for="barrioDestino" class="form-label text-dark">Barrio</label>
      <!-- Barrio de Destino -->
      <select class="form-select form-select-sm"
      [(ngModel)]="barrioSeleccionadoDestino"
      (change)="verificarSeleccion()">
      <option disabled selected>Seleccione un barrio</option>
      <option *ngFor="let barrio of barriosFiltradosDestino" [value]="barrio">{{ barrio | uppercase }}</option>
      </select>
    </div>
  </div>
</div>
  
  <!-- Sección Rutas -->
<div class="container mb-4">
  <h5 class="text-dark">Rutas</h5>

  <div class="row gy-2">
    <!-- Selector de rutas -->
    <div class="col-12">
      <h6 class="mb-1 text-dark">Ruta disponible</h6>
      <select class="form-select form-select-sm" [(ngModel)]="rutaSeleccionadaArchivo" (change)="onSeleccionRuta($event)" [disabled]="deshabilitarRutas">
        <option selected disabled>Seleccione una ruta</option>
        <option *ngFor="let ruta of rutas">{{ ruta.nombre | uppercase }}</option>
      </select>
    </div>

    <!-- Descripción -->
    <div class="col-12">
      <h6 class="mb-1 text-dark">Descripción</h6>
      <textarea class="form-control form-control-sm" rows="4" [value]="description" disabled></textarea>
    </div>

    <!-- Botón limpiar -->
    <div class="col-12">
      <button class="btn btn-outline-primary btn-sm mt-2" (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>
  </div>
</div>
